<nav class="top-navbar navbar navbar-expand-lg navbar-light bg-white p-3">
    <div class="container-fluid px-4">
        <a class="navbar-brand fw-bold text-dark" href="#">POS SYSTEM</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="ms-auto d-flex align-items-center">
                <div class="search-container position-relative">
                    <input type="text" class="form-control bg-secondary-subtle rounded-pill ps-4 search-input" 
                    placeholder="Search products..." style="width: 300px;">
                    <i class="fa-solid fa-magnifying-glass position-absolute top-50 end-0 translate-middle-y me-3 text-muted"></i>
                </div>
            </div>
        </div>
    </div>
</nav>
